{% extends "base.twig" %}

{% block main %}    
    <section class="row"> 
        <h2 class="text-center">Search by user and date</h2>              
        {% include "admin/search/form_search_by_user.twig" %}
    </section> 
{% endblock main %}