{% extends "base.twig" %}

{% block main %}    
    <section class="row"> 
        <h2 class="text-align-center">Search by project name</h2>              
        {% include "admin/search/by_name/form_search_by_project_name.twig" %}
    </section> 
{% endblock main %}