{% extends "base.twig" %}

{% block main %}    
    <section class="row"> 
        <h2 class="text-align-center">Search by task name</h2>              
        {% include "admin/search/by_name/tasks/form_search_by_task_name.twig" %}
    </section> 
{% endblock main %}