<form id="delete_form" action="/tasks/task/delete/{{ task.task_id }}" method="post" onsubmit="return confirm('¿Do you want to delete the task?')">
    <input type="hidden" name="csrf_token" value="{% if csrf_token is defined %}{{ csrf_token.csrf_token }}{% endif %}">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
</form>