{% extends "base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block main %}    
    <section class="row dashboard"> 
        <h2 class="text-center">Dashboard Panel</h2>
        <div class="dashboard-options">
            <section >
                <h3>Search options</h3>
                <ul>
                    <li><a href="/admin/search/searchByUserAndDate">Search by user and date</a></li>
                    <li><a href="/admin/search/searchByProjectName">Search by project name</a></li>
                    <li><a href="/admin/search/searchByTaskName">Search by task name</a></li>
                </ul>                
            </section>
            <section>
                <h3>Tasks options</h3>
                <ul>
                    <li><a href="/tasks/task/index">Tasks Index</a></li>
                    <li><a href="/tasks/task/new">New Task</a></li>
                </ul>
            </section>
            <section>
                <h3>Projects options</h3>
                <ul>
                    <li><a href="/projects/project/index">Projects Index</a></li> 
                    <li><a href="/projects/project/new">New Project</a></li>                  
                </ul>
            </section>
        </div>                      
    </section> 
{% endblock main %}