{% extends "base.twig" %}

{% block main %}    
    <section class="row"> 
        <h2 class="text-center">Dashboard</h2>       
        {% include "admin/form_dashboard.twig" %}
    </section> 
{% endblock main %}