{% extends "base.twig" %}

{% block main %}    
    <section class="row"> 
        <h2 class="text-center">Dashboard Panel</h2>
        <section>
            <h3>Search options</h3>
            <ul>
                <li><a href="/admin/search/searchByUserAndDate">Search by user and date</a></li>
            </ul>
        </section>       
       {#  {% include "admin/form_dashboard.twig" %} #}
    </section> 
{% endblock main %}